<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="os" value="${os.name}" />
    <!-- Windows环境下的fileNamePattern -->
    <if condition='property("os").contains("Windows")'>
        <then>
            <property name="compressionSuffix" value=".zip" />
        </then>
        <else>
            <property name="compressionSuffix" value=".gz" />
        </else>
    </if>
    <!--日志文件最大的大小-->
    <property name="FILESIZE" value="300MB"/>
    <!--日志文件保留天数-->
    <property name="MAXHISTORY" value="7"/>
    <!--只记录info-->
    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/today/info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/history/info/%d{yyyy-MM-dd}.%i.log${compressionSuffix}</fileNamePattern>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <maxFileSize>${FILESIZE}</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--记录warn与error-->
    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/today/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/history/error/%d{yyyy-MM-dd}.%i.log${compressionSuffix}</fileNamePattern>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <maxFileSize>${FILESIZE}</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <!--控制台只记录error-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <root level="info">
        <appender-ref ref="file_info"/>
        <appender-ref ref="file_error"/>
        <appender-ref ref="console"/>
    </root>
</configuration>