<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="os" value="${os.name}" />
    <!-- Windows环境下的fileNamePattern -->
    <if condition='property("os").contains("Windows")'>
        <then>
            <property name="compressionSuffix" value=".zip" />
        </then>
        <else>
            <property name="compressionSuffix" value=".gz" />
        </else>
    </if>
    <!--日志文件最大的大小-->
    <property name="FILESIZE" value="300MB"/>
    <!--日志文件保留天数-->
    <property name="MAXHISTORY" value="7"/>
    <!--只记录http|info-->
    <appender name="http_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/http/today/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/http/history/info/%d{yyyy-MM-dd}.%i.log${compressionSuffix}</fileNamePattern>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <maxFileSize>${FILESIZE}</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!--只记录http|warn|error-->
    <appender name="http_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/http/today/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/http/history/error/%d{yyyy-MM-dd}.%i.log${compressionSuffix}</fileNamePattern>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <maxFileSize>${FILESIZE}</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <!--只记录info-->
    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/system/today/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/system/history/info/%d{yyyy-MM-dd}.%i.log${compressionSuffix}</fileNamePattern>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <maxFileSize>${FILESIZE}</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!--只记录warn|error-->
    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/system/today/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/system/history/error/%d{yyyy-MM-dd}.%i.log${compressionSuffix}</fileNamePattern>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <maxFileSize>${FILESIZE}</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <logger name="http.utils.OkResponseLog" level="info" additivity="false">
        <appender-ref ref="http_info"/>
        <appender-ref ref="http_error"/>
    </logger>
    <root level="info">
        <appender-ref ref="file_info"/>
        <appender-ref ref="file_error"/>
    </root>
</configuration>